<div class="payment-wrapper">
  <div ng-if="!paymentVm.locked" class="payment-collection">
    <div>
      Collected from Cash: {{ paymentVm.cash | currency }}
    </div>
    <div>
      Collected from Credit Card: {{ paymentVm.creditCard | currency }}
    </div>
    <div>
      Number of can sold: {{ paymentVm.soldCan }}
    </div>
    <div>
      Last Restock Quantity: {{ paymentVm.restockQuantity }}
    </div>
  </div>
  <div class="payment-row">
    <div class="selected-drink">
      <div ng-if="!paymentVm.selectedDrink">Choose a drink</div>
      <div ng-if="paymentVm.selectedDrink">{{ paymentVm.selectedDrink.title }}</div>
      <div>{{ paymentVm.selectedDrink.price | currency }}</div>
    </div>
  </div>
  <div class="payment-row">
    <div class="pay-by-cash" ng-click="paymentVm.onPurchaseByCash()">
      <div class="pay-by-cash-icon">
        <ng-include src="'/assets/images/pay-by-cash.svg'" />
      </div>
    </div>
  </div>
  <div class="payment-row">
    <div class="pay-by-credit-card" ng-click="paymentVm.onPurchaseByCreditCard()">
      <div class="pay-by-credit-card-icon">
        <ng-include src="'/assets/images/paywave.svg'" />
      </div>
    </div>
  </div>
</div>
