.payment-wrapper {
  justify-content: center;

  .payment-collection {
    margin: 40px 0;
    font-weight: 600;
  }

  .payment-row {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;

    .selected-drink {
      height: 55px;
      text-align: center;
      border: 1px solid;
      border-radius: 10px;
      background-color: #008000;
      color: #ffffff;
      font-weight: 600;
      padding: 5px;
    }

    .pay-by-cash {
      border: 1px solid #000000;
      border-radius: 5px;
      cursor: pointer;

      .pay-by-cash-icon {
        width: 50%;
        margin: 0 auto;
      }
    }

    .pay-by-credit-card {
      border: 1px solid #000000;
      border-radius: 5px;
      padding: 10px 10px 10px 25px;
      cursor: pointer;

      .pay-by-credit-card-icon {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}
