.container {
  min-height: 100%;
  overflow: hidden;
  display:table;
  position: relative;

  .restock {
    position: absolute;
    top: 20px;
    right: 50px;
  }

  .locker {
    position: absolute;
    top: 20px;
    right: 20px;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .header {
    display: table-caption;
    margin: 0 15px;
    text-align: center;
    font-weight: bold;
    height: 55px;
    line-height: 43px;
    border-top: 10px solid #DC143C;
    background-color: #808080;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .row {
    display: table-row;
    border: 1px solid #808080;

    .no-float {
      display: table-cell;
      float: none;
    }
    .drinks-container {
      border: 1px solid #808080;
    }
    .payment-container {
      background-color: #808080;
    }
  }
}
