<div class="container">
  <div ng-if="!main.locked" class="restock">
    <button ng-click="main.restock()">Restock</button>
  </div>
  <div class="locker">
    <div ng-if="main.locked" ng-click="main.locked = !main.locked">
      <div>
        <ng-include src="'/assets/images/lock.svg'" />
      </div>
    </div>
    <div ng-if="!main.locked" ng-click="main.locked = !main.locked">
      <div>
        <ng-include src="'/assets/images/unlock.svg'" />
      </div>
    </div>
  </div>
  <div class="header">
    {{ main.title }}
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-8 drinks-container no-float">
      <product-list drink-list="main.drinkList"
                    locked="main.locked"
                    on-selected-drink="main.onSelectDrink(selectedDrink)"></product-list>
    </div>
    <div class="col-xs-6 col-md-4 payment-container no-float">
      <payment selected-drink="main.selectedDrink"
               locked="main.locked"
               cash="main.cash"
               credit-card="main.creditCard"
               sold-can="main.soldCan"
               restock-quantity="main.lastRestockQuantity"
               purchase-by-cash="main.selectPurchaseByCash(selectedDrink)"
               purchase-by-credit-card="main.selectPurchaseByCreditCard(selectedDrink)"></payment>
    </div>
  </div>
</div>
