.drink-item {
  .drink-image {
    img {
      width: 150px;
    }
  }
  .drink-details-wrap {
    padding: 2px;
    margin: 0 20px;
    height: 51px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: inset 0 0 10px #D3D3D3;

    .drink-details {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #808080;

      &.disabled {
        background: #808080;
      }

      .drink-name {
        font-weight: 500;
      }
      .drink-price {
        font-weight: 700;
        color: #DC143C;
      }
    }
  }
}
