<div class="drink-item">
  <div class="drink-image">
    <img ng-src="{{productItemVm.productImage}}">
  </div>
  <div class="drink-details-wrap">
    <button class="drink-details"
            ng-disabled="productItemVm.drink.quantity <= 0 || !productItemVm.lock"
            ng-class="{'disabled': productItemVm.drink.quantity <= 0}"
            ng-click="productItemVm.selectedDrink(productItemVm.drink)" >
      <div class="drink-name">{{ productItemVm.drink.title }}</div>
      <div ng-if="productItemVm.lock">
        <div ng-if="productItemVm.drink.quantity > 0" class="drink-price">{{ productItemVm.drink.price | currency }}</div>
        <div ng-if="productItemVm.drink.quantity <= 0" class="drink-price">Sold out</div>
      </div>
      <div ng-if="!productItemVm.lock">
        <div class="drink-price">{{ productItemVm.drink.quantity }}</div>
      </div>
    </button>
  </div>
</div>
