.drink-list-container {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  &::after {
    content: '';

  }
  .drink-container {
    margin: 15px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
  }
}
