<div class="drink-list-container">
  <div ng-repeat="drinkItem in productListVm.drinkList" class="drink-container">
    <product-item drink="drinkItem" lock="productListVm.locked" on-selected-drink="productListVm.selectedDrink(selectedDrink)"></product-item>
  </div>
</div>
